if: tag IS blank

matrix:
  include:
    - os: linux
      name: "Linux 64-bit Xenial"
      dist: xenial
      language: bash 
      env:
        - GAMOS=linux
        - PLATFORM=x86_64
        - VMTYPE=build
    - os: linux
      name: "Linux 64-bit Trusty"
      dist: trusty
      language: bash
      env:
        - GAMOS=linux
        - PLATFORM=x86_64
        - VMTYPE=build
    - os: linux
      name: "Linux 64-bit Precise"
      dist: precise
      language: bash
      env:
        - GAMOS=linux
        - PLATFORM=x86_64
        - VMTYPE=build
    - os: linux
      name: "Linux 64-bit Xenial - Python 3.5 Source Testing"
      dist: xenial
      language: python
      python:
        - "3.5"
      env:
        - VMTYPE=test
      deploy: true # skips full deploy steps
    - os: linux
      name: "Linux 64-bit Xenial - Python 3.6 Source Testing"
      dist: xenial
      language: python
      python:
        - "3.6"
      env:
        - VMTYPE=test
      deploy: true
    - os: linux
      name: "Linux 64-bit Xenial - Python 3.8-dev Source Testing"
      dist: xenial
      language: python
      python:
        - "3.8-dev"
      env:
        - VMTYPE=test
      deploy: true
    - os: linux
      name: "Linux 64-bit Xenial - Python nightly Source Testing"
      dist: xenial
      python:
        - "nightly"
      env:
        - VMTYPE=test
      deploy: true
    - os: osx
      name: "MacOS 64-bit"
      language: generic
      osx_image: xcode9.2
      env:
        - GAMOS=macos
        - PLATFORM=x86_64
    - os: windows
      name: "Windows 64-bit"
      language: shell
      env:
        - GAMOS=windows
          PLATFORM=x86_64
    - os: windows
      name: "Windows 32-bit"
      language: shell
      env:
        - GAMOS=windows
        - PLATFORM=x86

before_install:
- source src/travis/$TRAVIS_OS_NAME-$PLATFORM-before-install.sh

install:
- source src/travis/$TRAVIS_OS_NAME-$PLATFORM-install.sh

script:
- gam/gam version extended
- gam/gam version | grep "Python 3\.7\.3" # We should be building with Python 3.7.3
- gam/gam version | grep travis # travis should be part of the path (not /tmp or such)
- gam/gam version extended | grep TLSv1\.[23] # We should support TLS 1.2 or 1.3 to Google

before_deploy:
- export TRAVIS_TAG="preview"

deploy:
  provider: releases
  api_key:
    secure: bzambMcQwyv/o5c5GrKGCsZHgE5R85tg8sNFvPfpISz3+uosCjnBXas7wvCKzT75XUFi2ztfbYak6HdKf4sGnNHk0saEicB3slH+ghPyZbYzp76yvvduhFO2nWW3/F01tL+Yfqqt4/q8wFaWGjrC5km+6GLVyB4lWA/Uyu49qKnz02uSwyhBD/VFbO7DOQ65a1iWk9HngyMsu0Oi7HIbSjSLtxTHedNfOf3waW0NivTTxYXiYGX/MCu3GWhgIGj47a+H3A6FcQ/9QWvnKgnoixdgPBUz7kDb7ktsWwQsILPGStgH7iMuG49ZlXdEFmqwifBri2wvzmFEevBGZjHcupy1IGrNFRG+IUGKMotio+OkLHlLjuv7ZJtqCz/Vf5SNFgNyMSanx6jKEUJuYvndVg99IRXmYVwHFwPu5BAcJACpU6C0AfyGmmSqqwxCd46uXL62ynxNFpHuRfOqlDnmCTfZgjOciJSlDDpf+Xz9fF7+oCoeCi3mrcZVFjhd3tT6Oxw5HrsDtm0ZNld1cdLidaq8H6vOFgHMd0A9yNYZzTzXTvpmxzkXT4Zc7s+PYKN6z5fRZ+pJeckUjRXblvVEfs5HFSymavcOc5AkRwxpvOsTQMNmlnaJCBo5UNs0K/rVmRi5cFmaiwTcBCY0kTllOBJ4zWsfq8seiokWwNUNK2g=
  file_glob: true
  overwrite: true
  file: gam-$GAMVERSION-*
  skip_cleanup: true
  draft: true
  all_branches: true
  on:
    repo: jay0lee/GAM
