language: python
dist: precise
osx_image: xcode10.1

python:
 - "2.7.15"

os:
 - linux
 - osx

before_install:
- pip install pyinstaller
- if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then GAMOS="linux" ; fi
- if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then GAMOS="macos" ; fi

install:
- cd src
- pyinstaller --clean -F --distpath=gam $GAMOS-gam.spec
- cp LICENSE gam
- cp whatsnew.txt gam
- cp GamCommands.txt gam
- tar cfJ gam-$TRAVIS_BUILd_NUMBER-$GAMOS.tar.xz gam/

script:
- gam/gam version

deploy:
  skip_cleanup: true
  file: gam-$TRAVIS_BUILd_NUMBER-$GAMOS.tar.xz
